<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>abcRestaurant(Lahiru)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserSignUp</display-name>
    <servlet-name>UserSignUp</servlet-name>
    <servlet-class>com.user.servlet.UserSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUp</servlet-name>
    <url-pattern>/UserSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.user.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.user.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addervice</display-name>
    <servlet-name>Addervice</servlet-name>
    <servlet-class>com.user.servlet.Addervice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addervice</servlet-name>
    <url-pattern>/Addervice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddService</display-name>
    <servlet-name>AddService</servlet-name>
    <servlet-class>com.user.servlet.AddService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddService</servlet-name>
    <url-pattern>/AddService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReserve</display-name>
    <servlet-name>AddReserve</servlet-name>
    <servlet-class>com.user.servlet.AddReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReserve</servlet-name>
    <url-pattern>/AddReserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteService</display-name>
    <servlet-name>DeleteService</servlet-name>
    <servlet-class>com.user.servlet.DeleteService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteService</servlet-name>
    <url-pattern>/DeleteService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReserve</display-name>
    <servlet-name>DeleteReserve</servlet-name>
    <servlet-class>com.user.servlet.DeleteReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReserve</servlet-name>
    <url-pattern>/DeleteReserve</url-pattern>
  </servlet-mapping>
</web-app>